.wrapper
  .box
    .box__logo
      = image_tag "logo1.png",class: "main_logo"
    %ul.icons
      %li.icons__review
        = link_to "Music", reviews_path, class: "top_music"
      %li.icons__event
        = link_to "Event", events_path, class: "top_event"
      %li.icons__gear
        = link_to "Gear", gears_path, class: "top_gear"
    
          
      